#name,
.contact-info,
.obj,
.edu,
.courses,
 {
    font-family: sans-serif;
}

#name {
    text-align: center;
}
.contact-info {
    text-align: center;
}



.email-link {
    color: navy;

}
a:hover.email-link {
    color: green;
}


.obj {
    text-indent: 2%;
}


.edu {
    font-weight: bold;
}

.courses {
    text-indent: 3%;
    font-size: 20px;
    line-height: 50%;
}

ul {
    list-style-type: square;
}

#jobs {
    font-family: sans-serif;
}

.quick-buttons {
    text-align: center;
}