
/* Title */
.title {
    background-image: url("https://t.ly/dQGb4");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/* sub titles */
.brush-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frame-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint-title {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

/* descriptions */

.description {
    font-family: Helvetica;
    font-size: 12px;
}

/* price bolding */
#price {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}